.parallax-bg {	background-image: url("img1.jpg");
				background-attachment: fixed; 
				background-position: center; 
				background-repeat: no-repeat; 
				background-size: cover; }
.page-divs {	opacity:0.7;
			filter: alpha(opacity=70);
			margin:20px;
			border:20px;
			padding:20px; 
			}